// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';

.fas{
  vertical-align: middle;
  font-size: 1.5em;
}

.fa-male{
  color: $blue;
}

.fa-female{
  color: $pink;
}